Repository apache/camel-kafka-connector, pull requests merged in 2021-02, with the labels that each got.

#947 Test for Backport action - DO NOT MERGE
  README.adoc
Labels: backport camel-master

#948 Removed newline from README
  README.adoc
Labels: backport camel-master

#950 Remove rebase camel-master on master, it is too buggy
  .github/workflows/rebase-master-onto-camel-master.yml
Labels: backport camel-master

#952 Removed node setup from backport action
  .github/workflows/backport.yml
Labels: backport camel-master

#954 Backport action: Added license
  .github/workflows/backport.yml
Labels: backport camel-master

#964 Add connector entries to doc nav
  docs/modules/ROOT/nav.adoc
  tooling/camel-kafka-connector-docs-maven-plugin/src/main/java/org/apache/camel/kafkaconnector/maven/docs/UpdateDocComponentsListMojo.java
  tooling/camel-kafka-connector-docs-maven-plugin/src/main/resources/nav.mvel
Labels: backport camel-master

#965 Test PR
  README.adoc
Labels: backport camel-master

#993 Improve description of connector in documentation
  tooling/camel-kafka-connector-generator-maven-plugin/src/main/resources/camel-kafka-connector-sink-options.mvel
  tooling/camel-kafka-connector-generator-maven-plugin/src/main/resources/camel-kafka-connector-source-options.mvel
Labels: backport camel-master

#1007 Fix problem when call 'context.errantRecordReporter()' will result in a NoSuchMethodException or NoClassDefFoundError when the sink connector is deployed to Connect runtimes older than Kafka 2.6
  core/src/main/java/org/apache/camel/kafkaconnector/CamelSinkTask.java
Labels: 0.7.2, 0.8.0

#1054 Added 0.7.1 and 0.7.2 release to camel compatibility matrix
  docs/modules/ROOT/pages/camel-compatibility-matrix.adoc
Labels: backport camel-kafka-connector-0.7.x
